.generation {
  border: 1px solid blue;
  border-radius: 10px;
  width: 5vw;
  height: 5vw;
  display: flex;
  flex-direction: column;
  font-size: 5pt;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.generation-screen {
  position: fixed;
  left: 15vw;
  top: 10vh;
  width: 70vw;
  height: 84.75vh;
  border: 1px solid rgb(138, 138, 139);
  border-bottom: 3px solid rgb(138, 138, 139); 
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgb(52, 52, 66);
}


.generation-screen-control-input {
  color: white;
  width: 2vw;
  height: 2vh;
  position: fixed;
  top: 5vh;
  left: 49vw;
}

.resource {
  border: 1px solid green;
  background-color: lightgreen;
  width: 2.5vw;
  height: 2.5vw;
  font-size: 6pt;
  text-align: center;
  border-radius: 4px;
}