.main-game {
  border: 1px solid blue;
}

.grid-game-controller {
  position: fixed;
  left: 70vw;
  top: 15vh;
}

.grid-game-tile-PLAYER {
  background-color: lightblue;
  color: red;
}

.grid-game-tile-OBSTACLE {
  background-color: red;
  color: white;
}